<div
  class="d-flex flex-column flex-shrink-0 shadow sidebarLaptop p-3 text-bg-dark"
  style="width: 280px; height: 100%;"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none"
  >
    <img width="80px" src="/favicon.svg" alt="" />
    <span class="fs-1">Admin</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      {{#if isHome}}
        <a href="/" class="nav-link active" aria-current="page">
          <i class="bi bi-house"></i>
          Home
        </a>
      {{else}}
        <a href="/" class="nav-link text-light" aria-current="page">
          <i class="bi bi-house"></i>
          Home
        </a>
      {{/if}}
    </li>
    <li>
      {{#if isNews}}
        <a href="/news" onclick="active" class="nav-link text-light active">
          <i class="bi bi-newspaper"></i>
          News
        </a>
      {{else}}
        <a href="/news" onclick="active" class="nav-link text-light">
          <i class="bi bi-newspaper"></i>
          News
        </a>
      {{/if}}
    </li>
    <li>
      {{#if isAbout}}
        <a href="/about" class="nav-link active">
          <i class="bi bi-table"></i>
          About
        </a>
      {{else}}
        <a href="/about" class="nav-link text-light">
          <i class="bi bi-table"></i>
          About
        </a>
      {{/if}}
    </li>
    <li>
      <a href="#" class="nav-link text-light">
        <i class="bi bi-grid"></i>
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-light">
        <i class="bi bi-person-circle"></i>
        Customers
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-light text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>Username</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/logout">Logout</a></li>
    </ul>
  </div>
</div>

{{! Tablet }}

<div
  class="d-flex text-center sidebarTablet shadow flex-column flex-shrink-0 text-bg-dark"
  style="width: 4.5rem;"
>
  <a
    href="/"
    class="d-block p-3 link-dark text-decoration-none"
    title="Icon-only"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
  >
    <img width="50px" src="/favicon.svg" alt="" />
  </a>
  <ul class="nav nav-pills fs-4 nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a
        href="/"
        class="nav-link active py-3 rounded-0"
        aria-current="page"
        title="Home"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i class="bi bi-house"></i>
      </a>
    </li>
    <li>
      <a
        href="/news"
        class="nav-link py-3 rounded-0"
        title="Dashboard"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i class="bi bi-newspaper"></i>
      </a>
    </li>
    <li>
      <a
        href="/about"
        class="nav-link py-3 rounded-0"
        title="Orders"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i class="bi bi-info-square"></i>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 rounded-0"
        title="Products"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i class="bi bi-layer-forward"></i>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 rounded-0"
        title="Customers"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <svg
          class="bi pe-none"
          width="24"
          height="24"
          role="img"
          aria-label="Customers"
        ><use xlink:href="#people-circle"></use></svg>
      </a>
    </li>
  </ul>
  <div class="dropdown border-top">
    <a
      href="#"
      class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt="mdo"
        width="24"
        height="24"
        class="rounded-circle"
      />
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/logout">Logout</a></li>
    </ul>
  </div>
</div>