<html lang="en">
  {{!-- Head --}}
  {{>head}}
  <body class="d-flex bg-light">
    {{!-- Sidebar --}}
    {{>sidebar}}
    {{!-- Body --}}
    <div style="position: relative; margin: 0 auto; " class="w-100 container">
      {{{body}}}
    </div>
    {{!-- Footer --}}
    {{>footer}}
  </body>
</html>