<form action="/news/add" method="post">
  <div
    class="d-flex bg-white shadow rounded p-2 justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3"
  >
    <h1 class="h2"><i class="bi bi-database-fill-add"></i> Add</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="/news" class="btn btn-sm btn-info">
          <i class="bi bi-backspace-fill"></i>
          Back
        </a>
        <button type="submit" class="btn btn-sm btn-success">
          <i class="bi bi-database-fill-add"></i>
          Create
        </button>
      </div>
    </div>
  </div>
  <hr />
  <div class="bg-white p-4 rounded shadow">
    <div class="w-100">
      {{#if errorAddNews}}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <strong><i class="bi bi-exclamation-triangle"></i> Error</strong>
          {{errorAddNews}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      {{/if}}
      <div class="form-floating mb-3">
        <input type="rext" placeholder="image" class="form-control" name="image" id="floatImg">
        <label for="floatingImg">Image</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="title"
          name="title"
        />
        <label for="floatingInput">Title</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control h-50" placeholder="Content"  name="content" id="floatingContent" cols="30" rows="4" ></textarea>
        <label for="floatingContent">Content</label>
        {{!-- <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
        />
        <label for="floatingPassword">Password</label> --}}
      </div>
    </div>
  </div>
</form>